[submodule "third_party/eigen"]
	path = third_party/eigen
	url = https://github.com/karimvafin/eigen
[submodule "third_party/sofa"]
	path = third_party/sofa
	url = https://github.com/karimvafin/sofa
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
